@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black.eot");
  src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Black.woff2") format("woff2"), url("../fonts/Lato/Lato-Black.woff") format("woff"), url("../fonts/Lato/Lato-Black.ttf") format("truetype"), url("../fonts/Lato/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Medium.eot");
  src: url("../fonts/Lato/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato/Lato-Medium.woff") format("woff"), url("../fonts/Lato/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato/Lato-Medium.svg#Lato-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Semibold.eot");
  src: url("../fonts/Lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../fonts/Lato/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato/Lato-Semibold.svg#Lato-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Heavy.eot");
  src: url("../fonts/Lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato/Lato-Heavy.woff") format("woff"), url("../fonts/Lato/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato/Lato-Heavy.svg#Lato-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Semibold_1.eot");
  src: url("../fonts/Lato/Lato-Semibold_1.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Semibold_1.woff2") format("woff2"), url("../fonts/Lato/Lato-Semibold_1.woff") format("woff"), url("../fonts/Lato/Lato-Semibold_1.ttf") format("truetype"), url("../fonts/Lato/Lato-Semibold_1.svg#Lato-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black_1.eot");
  src: url("../fonts/Lato/Lato-Black_1.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Black_1.woff2") format("woff2"), url("../fonts/Lato/Lato-Black_1.woff") format("woff"), url("../fonts/Lato/Lato-Black_1.ttf") format("truetype"), url("../fonts/Lato/Lato-Black_1.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Medium_1.eot");
  src: url("../fonts/Lato/Lato-Medium_1.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Medium_1.woff2") format("woff2"), url("../fonts/Lato/Lato-Medium_1.woff") format("woff"), url("../fonts/Lato/Lato-Medium_1.ttf") format("truetype"), url("../fonts/Lato/Lato-Medium_1.svg#Lato-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Heavy_1.eot");
  src: url("../fonts/Lato/Lato-Heavy_1.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Heavy_1.woff2") format("woff2"), url("../fonts/Lato/Lato-Heavy_1.woff") format("woff"), url("../fonts/Lato/Lato-Heavy_1.ttf") format("truetype"), url("../fonts/Lato/Lato-Heavy_1.svg#Lato-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

body {
  background-color: #fbfbfb !important; }

.slider_slick {
  margin-top: 70px; }

.slider h1 {
  font-family: Lato, sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #0d257b;
  margin-top: 80px;
  margin-bottom: 50px; }

.slider .block {
  width: 130px;
  border: 1.0px solid #e6e6e6;
  height: 50px;
  text-align: center;
  background-color: white;
  display: inline-block; }
  .slider .block p {
    padding: 15px;
    font-family: Lato, sans-serif;
    font-size: 13.9px;
    margin: 0;
    font-weight: 600;
    color: #5c5c5c; }

.active {
  background-color: #4d6fac !important; }
  .active p {
    color: white !important; }

.arrnext {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 45%;
  left: 103%;
  background-color: transparent;
  border: 1px solid gray; }

.arrprev {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 45%;
  left: -8%;
  background-color: transparent;
  border: 1px solid gray; }

.arrnext:before {
  content: '>';
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: -42%;
  left: 13%;
  color: #5c5c5c; }

.arrprev:before {
  content: '<';
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: -42%;
  left: 13%;
  color: #5c5c5c; }

.arrprev:hover {
  background-color: #1683cc; }

.arrnext:hover {
  background-color: #1683cc; }

.arrprev:hover:before {
  color: #fff !important; }

.arrnext:hover:before {
  color: #fff !important; }

.arrprev:active {
  outline: none; }

.arrprev:focus {
  outline: none; }

.arrnext:active {
  outline: none; }

.arrnext:focus {
  outline: none; }

.btn-cons {
  background-color: #fda12b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4d6fac), to(#65b5fe));
  background-image: -o-linear-gradient(bottom, #4d6fac 0%, #65b5fe 100%);
  background-image: linear-gradient(0deg, #4d6fac 0%, #65b5fe 100%);
  width: 280px;
  height: 45px;
  margin-bottom: 50px;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: 600;
  border: none; }

.btn-cons:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4d6fac), color-stop(200%, #65b5fe));
  background-image: -o-linear-gradient(bottom, #4d6fac 0%, #65b5fe 200%);
  background-image: linear-gradient(0deg, #4d6fac 0%, #65b5fe 200%); }

@media screen and (max-width: 1024px) {
  .arrnext {
    left: 99.5%; }
  .arrprev {
    left: -5.2%; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .arrnext {
    left: 103%; }
  .arrprev {
    left: -10%; }
  .navigation p {
    display: none; }
  .slider_slick img {
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=photo-style.css.map */
